<div id="wordCloud"></div> <!-- div#wordCloud -->
<br/><br/><br/>
<div id="guestDashboard" class="row-fluid well span8 offset2"> <!-- {{{ -->
    <p style="margin: 0 auto; text-align: center;">
    There are&nbsp;<strong data-bind="text: totalConfigs"></strong>&nbsp;total configurations comprising&nbsp;<strong data-bind="text: totalRevisions"></strong>&nbsp;revisions across&nbsp;<strong data-bind="text: totalEnvironments"></strong>&nbsp;distinct environments.
    </p></br>
    <div id="signUpOrSignIn" class="row-fluid">
        <div class="span6">
            <a href="#signUp" id="signUpLink" class="btn btn-block btn-info">Sign Up</a>
        </div>
        <div class="span6">
            <a href="#signIn"  id="signInLink" class="btn btn-block btn-info">Sign In</a>
        </div>
    </div> <!-- div#signUpOrSignIn -->
</div> <!-- div#guestDashboard }}} -->
